In [1]:
# Importing libraries

import pandas as pd
from scipy.stats import ttest_ind

In [2]:
# Loading cleaned data

data = pd.read_csv('cleaned_data.csv')

In [3]:
data.head()

,distance,consume,speed,temp_inside,temp_outside,ac,rain,sun,gas_type,fuel_efficiency_rate,fuel_efficiency_speed,temperature_difference,estimated_fuel_used,cost_trip
0,28.0,5.0,26,21.5,12,0,0,0,E10,5.60,0.19,9.5,1.40,1.93
1,12.0,4.2,30,21.5,13,0,0,0,E10,2.86,0.14,8.5,0.50,0.69
2,11.2,5.5,38,21.5,15,0,0,0,E10,2.04,0.14,6.5,0.62,0.86
3,12.9,3.9,36,21.5,14,0,0,0,E10,3.31,0.11,7.5,0.50,0.69
4,18.5,4.5,46,21.5,15,0,0,0,E10,4.11,0.10,6.5,0.83,1.15

------------

In [ ]:
# Hypothesis

In [4]:
# 1. The fuel consumption of E10 and SP98 is not the same

In [5]:
# two side test:

# H0: E10 con. = SP98 con.
# H1: E10 con. <> SP98 con.

e10_fuel_used = data[data['gas_type'] == 'E10']['estimated_fuel_used']
sp98_fuel_used = data[data['gas_type'] == 'SP98']['estimated_fuel_used']

stat, pval = ttest_ind(e10_fuel_used, sp98_fuel_used)

print('statistic:', stat)
print('p-value:', pval)

statistic: 1.0888196268372858
p-value: 0.27691275640147345

In [6]:
# With a pval of around 0.2769, we fail to reject the null hypothesis. This suggests that, based on the 
# analysis, there's insufficient evidence to conclude a significant difference in estimated fuel usage 
# between 'E10' and 'SP98' gas types.

-------------

In [7]:
# 2. The fuel type has not the same cost_trip

In [8]:
# two side test:

# H0: E10 cost_trip = SP98 cost_trip
# H1: E10 cost_trip <> SP98 cost_trip

e10_cost_trip = data[data['gas_type'] == 'E10']['cost_trip']
sp98_cost_trip = data[data['gas_type'] == 'SP98']['cost_trip']

stat, pval = ttest_ind(e10_cost_trip, sp98_cost_trip)

print('T-statistic:', stat)
print('P-value:', pval)

T-statistic: 0.6163666916961232
P-value: 0.5380158525740002

In [9]:
# With a pval of around 0.5380, there isn't sufficient evidence to reject the null hypothesis. 
# This suggests that there's no significant difference in the cost per trip between E10 and SP98.